<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<nav th:replace="fragments :: nav-drop-menu"></nav>
loop test
<form method="post" th:object="${form}" action="/menu/add-item">
    <div class="form-group">
        <label th:for="cheeseId">Cheese</label>
        <select name="cheeseId">
            <option th:each="cheese : *{cheeses}"
                    th:text="${cheese.name}"
                    th:value="${cheese.Id}"></option>
        </select>
    </div>

    <input type="hidden" name="menuId" th:value="*{menu.id}" />
    <input type="submit" value="Add item" />

</form>
</body>
</html>